attrs==25.3.0
blinker==1.9.0
cffi==1.17.1
click==8.2.1
eccodes==2.42.0
findlibs==0.1.1
Flask==3.1.1
h5py==3.14.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
MarkupSafe==3.0.2
numpy==2.3.1
psycopg2-binary==2.9.10
pycparser==2.22
scipy==1.16.1
tqdm==4.67.1
Werkzeug==3.1.3
